@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: darksalmon;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

div {
    position: absolute;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 0.5rem;
}

input {
    width: 3rem;
    padding: 5px;
    font-size: 18px;
    background-color: darksalmon;
    border: none;
    text-align: center;
    border-radius: 0.5rem;
}

input:focus {
    outline: none;
}

input:active {
    transform: scale(0.98);
}